* text=auto
*.py text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.ini text eol=lf
*.mako text eol=lf
*.sh text eol=lf
*.json text eol=lf
*.http text eol=lf
*.ps1 text eol=crlf
.editorconfig text eol=lf
Dockerfile text eol=lf
